<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&amp;amp;subset=cyrillic-ext" />
    <script src="https://vk.com/js/api/openapi.js?154" type="text/javascript"></script>
    <style></style>
    <title>Другофильтр</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="logo">
                <img class="logo__img" src="./assets/images/logo.png" alt="logo" />
            </div>
            <button class="btn btn--open js-btn--open">Фильтровать друзей</button>
            <div class="overlay js-overlay">
                <div class="popup js-popup">
                    <h1 class="popup__title">Выберите друзей</h1>
                    <div class="search">
                        <input class="search__input search__input--left" type="text" name="" placeholder="Введите имя друга" />
                        <input class="search__input search__input--right" type="text" name="" placeholder="Название" />
                    </div>
                    <div class="popup__content">
                        <div class="friends">
                            <div class="friends__left">
                                <span class="friends-title friends-title--left">Ваши друзья</span>
                                <ul class="friends__list js-friends__list-left">
                                    {{> "./assets/templates/friends.hbs"}}
                                </ul>
                            </div>
                            <div class="friends__right">
                                <span class="friends-title friends-title--right">Друзья в списке</span>
                                <ul class="friends__list js-friends__list-right">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="popup__down">
                        <button class="btn js-btn--save">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>